$darkBlude: hsl(233, 26%, 24%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$lightGray:hsl(220, 16%, 96%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan:hsl(192, 70%, 51%);
$White:hsl(0, 0%, 100%);
$GrayishBlue: hsl(233, 8%, 62%);
$veryLightGray: hsl(0, 0%, 98%);
//fontsizes
$font-sm: 0.875rem;
$font-med: 1.123rem;
$font-lg:1.25rem;
$font-xlg: 3.25rem;
